<h2>navegação entre paginas</h2>
<br><br>
<router-outlet></router-outlet><!--isso não é visto, para vc ver coloque /prmeira-pag na barra de pesquisa depois de localhost--> <!--esse router-outlet carrega os componentes-->


<nav>
    <ul>
        <li><a routerLink="primeira-pag"> Acessar a primeira pag</a></li>
        <li><a routerLink="segunda-pag"> Acessar a segunda pag</a></li>
        <li><a routerLink="pagina-protegida"> pagina protegida</a></li>
    </ul>
</nav> <!--esse menu fica fixo independente da pag, ele vai aparecer-->
<!--o routerLink tem que ter o mesmo nome do path: no app-routing.module-->